<template>
  <div class="hello">
    <div class="first-challenge">
      <h1>Pair Sum Challenge</h1>
      <hr>
      <p>Instructions: Please input values separated by commas to evaluate if the sum of the values results to the given sum.</p>
      <h3 v-if="validate.input">Please input something</h3>
      <div>
        <p>Values</p>
        <input
          type="text"
          placeholder="Input Value"
          v-model="input.values"
          pattern="[0-9.,]+"
          @keyup="ValidateInput"
          name="input.values"
        >
      </div>
      <div>
        <p>Sum</p>
        <input
          type="text"
          placeholder="Sum"
          v-model="input.sum"
          pattern="[0-9.,]+"
          @keyup="ValidateInput"
          name="input.sum"
        >
      </div>
      <h3 class="mouse-pointer button-effects" @click="Evaluate()">Check</h3>
      <h3 v-if="validate.confirm">{{ success ? 'Yes. The sum of the values inside the input is equal to ' + input.sum : 'No. Try to input another value to make the sum equal to ' + input.sum }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  name: "firstChallenge",
  props: {

  },
  data() {
    return {
      input: {
        values: "",
        sum: ""
      },
      inputArray: [],
      sumOfInputs: "",
      success: false,
      validate: {
        input: false,
        confirm: false
      }
    };
  },
  methods: {
    Evaluate() {
      if (this.input.values === "" && this.input.sum === "") {
        console.log("Input something");
      } else {
        this.inputArray = this.input.values.split(",").map(Number); // Convert Input into Arrays of Numbers
        this.sumOfInputs = this.inputArray
          .reduce((a, b) => a + b, 0)
          .toString(); // I will add the numbers for evaluation.
      }
      if (Number(this.input.sum) === Number(this.sumOfInputs)) {
        this.success = true;
      } else {
        this.success = false;
      }
      this.validate.confirm = true;
    },
    ValidateInput() {
      if (this.input.values === "" || this.input.sum === "" ) {
        this.validate.input = true;
      }
      else {
        this.validate.input = false;
      }
      this.validate.confirm = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button {
  background: lightskyblue;
  color: whitesmoke;
}
input {
  width: 100%;
  text-align: center;
}
</style>
