<template>
  <div class="hello">
    <div class="second-challenge">
      <h1>Guessing Game Challenge</h1>
      <hr>
      <div v-if="!success && !tryAgain">
        <p>Instructions: Please input a value from 1 - 100. In every wrong number you guess your life is decreasing. You have {{ lives }} lives remaining.</p>
        <div>
          <input type="number" v-model="input.value">
        </div>
        <h3 class="mouse-pointer button-effects" @click="Evaluate()">Guess</h3>
      </div>
      <p
        v-if="!tryAgain"
      >{{ success ? 'That is great! You have guessed the number. The number is ' + guessedValue : 'You guessed it wrong! You have ' + lives + ' remaining. ' + 'Hint: ' + Hint[lives - 1] }}</p>
      <div v-if="tryAgain || success">
        <p>You have failed. Try again!</p>
        <h3 class="mouse-pointer button-effects" @click="Reload()">Play again</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "secondChallenge",
  props: {
    msg: String
  },
  data() {
    return {
      input: {
        value: ""
      },
      guessedValue: 25,
      lives: 5,
      Hint: [
        "Number between 1-50",
        "Number between 1-60",
        "Number between 1-70",
        "Number between 1-80",
        "Number between 1-100"
      ],
      success: false,
      tryAgain: false
    };
  },
  methods: {
    Evaluate() {
      if (Number(this.input.value) === this.guessedValue) {
        this.success = true;
      } else {
        this.success = false;
        this.lives--;
      }
      if (this.lives === 0) {
        this.tryAgain = true;
      }
    },
    ValidateInput() {},
    Reload() {
      location.reload();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
