<template>
  <div id="app">
    <nav>
      <ul>
        <li>
          <router-link to="/">First Challenge</router-link>
        </li>
        <li>
          <router-link to="/second">Second Challenge</router-link>
        </li>
      </ul>
    </nav>
    <router-view></router-view>
  </div>
</template>

<script>
import firstChallenge from "./components/firstChallenge.vue";
import secondChallenge from "./components/secondChallenge.vue";

export default {
  name: "app",
  components: {
    firstChallenge,
    secondChallenge
  }
};
</script>

<style>
* {
  outline: none !important;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
.text-center {
  text-align: center;
}
.mouse-pointer {
  cursor: pointer;
}
.button-effects {
  color: black;
  padding: 5px;
}
.button-effects:hover {
  background: lightskyblue;
  color: whitesmoke;
}
</style>
